.selection .show {
    display: flex;
}

.selection .hide {
    display: none;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

@keyframes fadeIn{
    from{opacity: 0.1;} to
    {opacity: 1;}
}